<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta.title}}</title>
    <link href="/static/slides.css" , rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="flex">
        {{#if question.image}}
          <div class="image-container">
            <img src="/static/images/end.jpg" alt="" />
          </div>
        {{/if}}
        <h1>End of the quiz!</h1>
      </div>
    </main>
    <footer>
      <a id="next" href="{{meta.link}}"><button
          role="button"
          class="next"
        >See Answers</button></a>
    </footer>
  </body>
</html>